.nav_bar_wrapper a{
    padding-left: 30px;
}

.delete{
    background-color: #c21a1a;
    color: white;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}
.update{
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}